name: Deploy
on: [workflow_dispatch]
jobs:
  build:
    uses: ./.github/workflows/gradle-jar.yml
    
  deploy:
    needs: [build]
    
    # Important: must be run from Linux.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Download macOS ARM build
        uses: actions/download-artifact@v3
        with:
          name: build-macos-aarch64
          path: ./artifacts/build-macos-aarch64
          
      - name: Download macOS AMD64 build
        uses: actions/download-artifact@v3
        with:
          name: build-macos-amd64
          path: ./artifacts/build-macos-amd64
          
      - name: Download Windows build
        uses: actions/download-artifact@v3
        with:
          name: build-windows-amd64
          path: ./artifacts/build-windows-amd64
          
      - name: Download Linux AMD64 build
        uses: actions/download-artifact@v3
        with:
          name: build-linux-amd64
          path: ./artifacts/build-linux-amd64          
          
      - name: Run Conveyor     
        uses: hydraulic-software/conveyor/actions/build@v10.1
        with:
          command: make copied-site
          signing_key: ${{ secrets.SIGNING_KEY }}          
          agree_to_license: 1
  
